<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=9.1.15.731, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
    <!--<add name="iopsContext" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sql2k14;initial catalog=iops_dev;user id=iopsadmin;password=i0ps2@14;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iopsWeatherEntities" connectionString="metadata=res://*/WeatherDBModel.csdl|res://*/WeatherDBModel.ssdl|res://*/WeatherDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sql2k14;initial catalog=iops_dev;persist security info=True;user id=iopsadmin;password=i0ps2@14;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="iopsContext" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.101.33;initial catalog=iops_dev;user id=iopsadmin;password=i0ps2@14;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iopsWeatherEntities" connectionString="metadata=res://*/WeatherDBModel.csdl|res://*/WeatherDBModel.ssdl|res://*/WeatherDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.101.33;initial catalog=iops_dev;persist security info=True;user id=iopsadmin;password=i0ps2@14;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JFKReportsContext" connectionString="metadata=res://*/Model.JFKReports.csdl|res://*/Model.JFKReports.ssdl|res://*/Model.JFKReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.60.110.252\IOPSNOW;initial catalog=JFK_IOPS_Reporting;persist security info=True;user id=iopsadmin;password=i0ps2@15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CID_IOPS_ReportingEntities" connectionString="metadata=res://*/Model.CIDReports.csdl|res://*/Model.CIDReports.ssdl|res://*/Model.CIDReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.60.110.252\IOPSNOW;initial catalog=CID_IOPS_Reporting;user id=iopsadmin;password=i0ps2@15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SLL_IOPS_ReportingEntities" connectionString="metadata=res://*/Model.SLLReports.csdl|res://*/Model.SLLReports.ssdl|res://*/Model.SLLReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOU1IOPSSQL1;initial catalog=SLL_Airport_SCADA;persist security info=True;user id=iopsadmin;password=i0ps2@14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iOPCOmanDBEntities" connectionString="metadata=res://*/Model.FlightData.csdl|res://*/Model.FlightData.ssdl|res://*/Model.FlightData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOU1IOPSSQL1;initial catalog=iOPCOmanDB;persist security info=True;user id=iOPCOMAN;password=iOPCOMAN001;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--<add name="iopsContext" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.60.110.252\IOPSNOW;initial catalog=iops_dev;user id=iopsadmin;password=i0ps2@15;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iopsWeatherEntities" connectionString="metadata=res://*/WeatherDBModel.csdl|res://*/WeatherDBModel.ssdl|res://*/WeatherDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.60.110.252\IOPSNOW;initial catalog=iops_dev;persist security info=True;user id=iopsadmin;password=i0ps2@15;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
 
    <add name="JFKIOPSReporting2" connectionString="Data Source=69.60.110.252\IOPSNOW;User Id=iopsadmin;Password=i0ps2@15" providerName="System.Data.SqlClient" />
    <add name="CIDIOPSReporting" connectionString="Data Source=69.60.110.252\IOPSNOW;User Id=iopsadmin;Password=i0ps2@15" providerName="System.Data.SqlClient" />
    <add name="SLL_IOPS_Reporting" connectionString="Data source=HOU1IOPSSQL1;User id=iopsadmin;Password=i0ps2@14" providerName="System.Data.SqlClient" />

  </connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<elmah>
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/errorlogs" />
		<security allowRemoteAccess="yes" />
	</elmah>
	<appSettings>
    <add key="DebugUserName" value="crane" />
    <add key="DebugPassword" value="i0ps2@14" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PreserveLoginUrl" value="true" />
    <add key="ClientAbbreviation" value="SLL" />
    <add key="ClientName" value="Salalah Airport" />
    <add key="ClientShortName" value="SLL" />
    <add key="ClientWebsite" value="https://www.omanairports.co.om/" />
    <add key="ClientThemeVersion" value="Ver 1.0.0" />
    <add key="AirportZipCode" value="77301" />
    <add key="OPC_config_Token" value="7e61b230-481d-4551-b24b-ba9046e3d8f2" />
    <add key="OPC_config_ServerURL" value="http://10.10.101.34:58725" />
    <add key="OPC_config_RemoteSCADAPrefix" value="" />
    <add key="OPC_config_RefreshCallback" value="refresh_update" />
    <add key="OPC_config_MaxTagsPerMsg" value="15" />
	</appSettings>
	<system.web>
		<globalization culture="auto" uiCulture="auto" />
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="iOps.Core.Model" />
				<add namespace="iOps.Website.Dto" />
				<add namespace="iOps.Resources" />
				<add namespace="iOps.Website.Controllers" />
				<add namespace="Omu.AwesomeMvc" />
				<add namespace="Kendo.Mvc" />
				<add namespace="Kendo.Mvc.UI" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
		</httpModules>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<!-- ReSharper disable WebConfig.RedundantLocationTag -->
	<location path="elmah.axd">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*" />
			</authorization>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</httpHandlers>
			<httpModules>
				<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
				<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
				<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
			</httpModules>
		</system.web>
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="true">
				<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
				<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
				<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
				<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
			</modules>
			<handlers>
				<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
			</handlers>
		</system.webServer>
	</location>
	<!-- ReSharper restore WebConfig.RedundantLocationTag -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>