<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="iopsContext" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.101.33;initial catalog=iops_dev;user id=iopsadmin;password=i0ps2@14;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JFKReportsContext" connectionString="metadata=res://*/Model.JFKReports.csdl|res://*/Model.JFKReports.ssdl|res://*/Model.JFKReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.28.100.5\IOPS1SQLSVR1;initial catalog=JFK_IOPS_Reporting;persist security info=True;user id=iopsadmin;password=i0ps2@15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CID_IOPS_ReportingEntities" connectionString="metadata=res://*/Model.CIDReports.csdl|res://*/Model.CIDReports.ssdl|res://*/Model.CIDReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.60.110.252\IOPSNOW;initial catalog=CID_IOPS_Reporting;user id=iopsadmin;password=i0ps2@15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SLL_IOPS_ReportingEntities" connectionString="metadata=res://*/Model.SLLReports.csdl|res://*/Model.SLLReports.ssdl|res://*/Model.SLLReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOU1IOPSSQL1;initial catalog=SLL_Airport_SCADA;persist security info=True;user id=iopsadmin;password=i0ps2@14;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iOPCOmanDBEntities" connectionString="metadata=res://*/Model.FlightData.csdl|res://*/Model.FlightData.ssdl|res://*/Model.FlightData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOU1IOPSSQL1;initial catalog=iOPCOmanDB;persist security info=True;user id=iOPCOMAN;password=iOPCOMAN001;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>