@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Telerik HTML5 Report Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="~/Content/Fonts/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

    <!-- the styles of the viewer -->
    <link href="~/Content/Kendo/2015.1.408/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo/2015.1.408/kendo.blueopal.min.css" rel="stylesheet" />
    <!--kendo.all.min.js can be used as well instead of kendo.web.min.js and kendo.mobile.min.js-->
    <script src="~/Scripts/Kendo/2015.1.408/kendo.web.min.js"></script>
    <!--kendo.mobile.min.js - optional, if gestures/touch support is required-->
    <script src="~/Scripts/Kendo/2015.1.408/kendo.mobile.min.js"></script>

    <link href="/ReportViewer/styles/telerikReportViewer-9.1.15.731.css" rel="stylesheet" />
    <script src="/ReportViewer/js/telerikReportViewer-9.1.15.731.js"></script>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            font-family: 'segoe ui', 'ms sans serif';
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div id="reportViewer1" class="k-widget">
        loading...
    </div>

    <script type="text/javascript">
        $("#reportViewer1")
            .telerik_ReportViewer({
                serviceUrl: "/api/reports/",
                templateUrl: '/ReportViewer/templates/telerikReportViewerTemplate-9.1.15.731.html',
                reportSource: {
                    //report: "Reporttest.trdx",
                    report: "iOps.Website.Models.MyReportBook, iOps.Website"
                }
            });
    </script>

</body>
</html>